.listRow {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.employeeImage {
  width: 58px;
  height: auto;
  border-radius: 50px;
  margin-top: 10px;
  margin-right: 20px;
}
.imageContainer {
  display: flex;
  align-items: center;
}
.employeeName {
  font-size: 22px;
  line-height: 26px;
  color: #59636e;
  padding-top: 15px;
}
